<nav class="nav-heading">
    <div class="element" routerLink="/" title="Página principal">
        <i class="material-icons">home</i>
    </div>
    <div class="element" routerLink="/create" title="Crear tarea">
        <i class="material-icons">add</i>
    </div>
    <div class="element" routerLink="/list" title="Lista de tareas">
        <i class="material-icons">list</i>
    </div>
    <div class="element" title="Lista de tareas">
        <i class="material-icons">calendar_month</i>
    </div>
</nav>