<section class="heading-section">
    <h1 class="title is-4 has-text-centered">¿Está seguro?</h1>
</section>

<div class="container">

    <i class="material-icons">warning</i>
    <p>Tenga en cuenta que este cambio es irreversible</p>

</div>

<div class="body">
    <div class="close">
        <button (click)="closeDialog()">CANCELAR</button>
    </div>
    <div class="close">
        <button (click)="onConfirmDeleteButton()">ELIMINAR</button>
        <i class="material-icons">delete</i>
    </div>
</div>