.container{
    width: 800px;
}

.add-todo-box{
    padding: 25px;
    border-radius: 4px;
    margin-top: -72px;
    background: white;
    box-shadow: 0px 4px 12px rgba(black, 0.1);
}

.error{
    display: flex;
    justify-content: center;
    align-items: space-around;
    padding: 35px 15px;
    font-size: 18px;
    border: 3px solid rgb(240, 54, 82);
    border-radius: 5px;

    p{
        margin: 0 auto;
    }

    i.material-icons{
        color: rgb(240, 54, 82);
        font-size: 28px;
    }

}

.input{
    margin-top: 20px;

    &:first-of-type{
        margin-top: 0px;
    }
}

.select{
    margin-top: 20px;
}