/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bulma/bulma.sass';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.alt-gradient-button{
    border: none;
    background: linear-gradient(to right, rgb(236, 72, 140), rgb(240, 54, 82));
    color: white;
    font-weight: 600;
    opacity: 0.8;

    &:hover{
        opacity: 1;
        color: white;
        box-shadow: 0px 0px 0px 4px rgba(black, 0.05);
    }

    &:active{
        transform: scale(0.9);
    }

    &:focus{
        color: white;
        opacity: 1;
    }

    i.material-icons{
        margin-right: 7px;
        margin-left: -4px;
    }

    transition: transform 0.1s;

}

.heading-section{
    background: linear-gradient(to right, #31af1c, #1ca7af);

    padding: 80px;
    padding-bottom: 130px;

    h1.title{
        font-weight: bold;
        color: white;
        text-shadow: 0px 1px 2px rgba(black, 0.7);
    }

}

.is-loading{
    display: flex;
    justify-content: center;
    align-items: space-around;
    padding: 35px 15px;

    @keyframes loopLoading {
        0% {transform: rotate(0);}
        100% {transform: rotate(360deg);}
    }

    i.material-icons{
        animation-name: loopLoading;
        animation-duration: 0.8s;
        animation-iteration-count: infinite;
        color: #1ca7af;
        font-size: 60px;
    }
}

